<div class="body">
    <div class="username">
            {{comment.user.username}} :
    </div>
    <div *ngFor="let message of messageArray">
        <span *ngIf="message.type === 'text'">{{message.text}}</span>
        <picture-post-content *ngIf="message.type === 'picture'" [postContent]="message.picture"></picture-post-content>
        <video-post-content *ngIf="message.type === 'video'" [postContent]="message.video"></video-post-content>
        <youtube-post-content *ngIf="message.type === 'youtube'" [postContent]="message.youtube"></youtube-post-content>
        <a *ngIf="message.type === 'link'" [href]="message.link">{{message.link}}</a>
    </div>
</div>

<style>
    .body {
        border-top: 1px solid rgb(207, 205, 205);
        padding-left: 30px;
    }
    .username {
        font-weight: bold;
        padding: 0 15px;
    }
</style>