<div *ngIf="notifications.length > 0" class="notifications">
    <div class="notification" (click)="clickNotif()" *ngFor="let notification of notifications">
        {{ notification.type === notificationType.POST ? notification.username + " a posté un message": ""}}
        {{ notification.type === notificationType.COMMENT ? notification.username + " a commenté un poste": ""}}
        {{ notification.type === notificationType.LIKE ? notification.username + " a aimé un poste": ""}}
        {{ notification.type === notificationType.CHANNEL ? "Un channel a été créé": ""}}
        {{ notification.type === notificationType.USER ? notification.username + " s'est connecté": ""}}        
    </div>
</div>
<div id="clear" *ngIf="notifications.length > 0">
    <button class="btn btn-default" (click)="clearNotif()">
        <i class="glyphicon glyphicon-remove"></i>
        Clear
    </button>
</div>
<style>
    :host {
        display: block;
        height: 100%;
        width: 200px;
        padding: 3px;
        background: white;
        flex-shrink: 0;
        border-left: 1px solid #d6d6d6;
    }

    .notification {
        cursor: pointer;
    }

    .notification:hover {
        background-color: CornflowerBlue;
    }
    #clear {
        display: block;
        text-align: center;
        padding: 15px 0px;
    }
</style>